*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    color: rgb(0, 0, 0);

}
body{
    background-color:#ffffffb1;
}

h1{
    background-color:#081b31 ;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    width: 100% ;
}
.choice{
    height: 7rem;
    width: 7rem;
    border: 1px solid black;
    margin: .4rem;
    border-radius: 50%;
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: 5rem;
    background-color: #1b4346e2;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 4rem;
    margin: 2rem;
}
.choice:hover{
    opacity: .5;
    cursor: pointer;
    background-color: #081b31;
}
.msg-container{
margin-top: 2rem;
align-self: center;
}
#msg{

    background-color: #a8d2de;
    color: #000000;
    height: 5rem;
    display: inline;
    font-size: 1.2  rem;
padding:20px 50px  20px 50px ;
border-radius: 5px;

}